.header-section{
    height: 500px;
    width: 100%;
}

.title{
    font-weight: bold;
    padding-top: 100px;
}

.title {
    font-size: 80px;
    color: rgba(199, 72, 182, 0.712);
    text-align: center;
    /* -webkit-animation: glow 1s ease-in-out infinite alternate; */
    /* -moz-animation: glow 1s ease-in-out infinite alternate; */
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px #fff, 0 0 10px #e60073, 0 0 10px #e60073, 0 0 10px #e60073, 0 0 10px #e60073, 0 0 10px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 15px #f16fb0, 0 0 20px #f16fb0, 0 0 20px #f16fb0, 0 0 30px #f16fb0, 0 0 20px #f16fb0, 0 0 30px #f16fb0;
    }
  }



@media only screen and (max-width: 675px){
    .title{
        font-size: 70px;
    }
}

@media only screen and (max-width: 583px){
    .title{
        font-size: 60px;
    }
}

@media only screen and (max-width: 498px){
    .title{
        font-size: 50px;
    }
}

@media only screen and (max-width: 408px){
    .title{
        font-size: 40px;
    }
}

@media only screen and (max-width: 321px){
    .title{
        font-size: 30px;
    }
}

